

/*---COLORS---*/
:root {
    --prim-white: hsl(0, 0%, 100%);
    --trans-white: hsla(0, 0%, 100%, 0.75);
    --lighter-gray: hsl(0, 0%, 95%);
    --prim-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --darker-cyan: hsl(179, 100%, 13%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: ;
    background-color: var(--lighter-gray);
    color: var(--prim-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem auto;
    min-height: 100vh;
}

main {
    min-width: 200px;
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section#sedans {
    background: var(--prim-orange);
    border-radius: 8px 8px 0 0;
}

section#suvs {
    background: var(--dark-cyan);
}

section#luxury {
    background: var(--darker-cyan);
    border-radius: 0 0 8px 8px;
}

section img {
    margin: 4rem 3rem 1rem;
}

section div.text {
    margin: 2rem 3rem;
    background: red;
    padding: 10px;
}
section div.text h1 {
    color: var(--lighter-gray);
    margin-bottom: 1.8rem;
}
section div.text p {
    color: var(--trans-white);
}

section button {
    margin: 2rem 3rem 3rem;
    background: white;
    border-radius: 30px;
    border: none;
    padding: 18px 45px;
    font-size: 15px;
    cursor: pointer;
}
section#sedans > button {
    color: var(--prim-orange);
}
section#suvs > button {
    color: var(--dark-cyan);
}
section#luxury > button {
    color: var(--darker-cyan);
}









/*
footer.attribution {
    font-size: 13px;
    text-align: center;
    margin-top: .5rem;
}

footer.attribution p {
    line-height: 1.4;
    color: var(--prim-soft-blue);
    font-weight: 400;
}

footer.attribution p a {
    text-decoration: none;
    color: var(--prim-cyan);
    transition: all .5s ease-in-out;
}

footer.attribution p a:hover {
    font-weight: 600;
    color: var(--myWhite);
}
*/