

/*---COLORS---*/
:root {
    --prim-white: hsl(0, 0%, 100%);
    --trans-white: hsla(0, 0%, 100%, 0.75);
    --lighter-gray: hsl(0, 0%, 95%);
    --prim-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --darker-cyan: hsl(179, 100%, 13%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lighter-gray);
    color: var(--prim-white);
    font-size: 15px;
    font-family: ;
    min-height: 100vh;
}

main {
    min-width: 375px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 200px;
}

section#sedans {
    background: var(--prim-orange);
}

section#suvs {
    background: var(--dark-cyan);
}

section#luxury {
    background: var(--darker-cyan);
}










/*
footer.attribution {
    font-size: 13px;
    text-align: center;
    margin-top: .5rem;
}

footer.attribution p {
    line-height: 1.4;
    color: var(--prim-soft-blue);
    font-weight: 400;
}

footer.attribution p a {
    text-decoration: none;
    color: var(--prim-cyan);
    transition: all .5s ease-in-out;
}

footer.attribution p a:hover {
    font-weight: 600;
    color: var(--myWhite);
}
*/